/* CIS 181 F Fall 2017-->
<!-- Date:10/17/2017-->
<!-- Ch 4 CSS Lab Assignment */
    body { font-family: Verdana, Arial, snas-serif;
            background-color: #00005D;
            }
    #wrapper { background-color: #b3c7e6;
                color: #000066;
                width: 80%;
                margin: auto;
                min-width: 940px;
            }
    #leftcolumn { float: left;
                    width: 150px;
                }
    #rightcolumn { margin-left: 155px;
                    background-color: #ffffff;
                    color: #000000;
                }
    header { background-color: #869dc7;
            color: #00005D;
            font-size: 150%;
                padding: 10px 10px 10px 155px;
                background-image: url(lighthouselogo.jpg);
                background-repeat: no-repeat;
                height: 130px;
            }
    h2      { color: #869dc7;
            font-family: arial, sans-seif;
            padding-bottom: 1em;
            }
    p       { margin-bottom: 3em;
                }
    .content { padding: 20px 20px 0 20px;
            }
    #floatright { margin: 10px;
            float: right;
            }
    footer {font-size:70%;
            text-align: center;
            clear: right;
            padding-bottom: 5em;
            padding-top: 5em;
            }
    nav     { position: fixed;
            }
    nav ul { list-style-type: none;
            padding: 10px;
            }
    nav a {text-decoration: none;
            padding: 10px;
            font-weight: bold;
            }
    